@using EFBlog.ViewModels.ArticleService
@model ArticleViewModel
@section styles {
  <link rel="stylesheet" href="~/css/article.css?@DateTime.Now.ToString("yyyyMMddhhmmss")">
}

<div class="mb-2" style="width:700px; margin-left: auto;margin-right: auto;">
    <h1 class="text-center display-4 mb-5">@Model.Title</h1>
    @Html.Raw(Model.ArticleContent)
</div>

