@using EFBlog.ViewModels.Auth
@model LoginRequest

<form asp-action="Index" method="post">

  <div class="mb-3">
    <label class="form-label">Password</label>
    <input asp-for=@Model.Pwd  type="password" class="form-control">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>