@{
    Layout = "_Layout_V3";
}
@section css{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BasicSample.styles.css" asp-append-version="true" />
}

@section htmlTest{

    <h3>嗨嗨 我是 Jim</h3>

}

<h3>區段程式碼範例</h3>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}