@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div style="text-align: center;">
    <h3>@Localizer["Hello world!"]</h3>

    <div style="margin-top:10px;margin-bottom:10px;">景點：@Localizer["building"]</div>

    <div style="margin-top:10px;margin-bottom:10px;">描述：@Localizer["Describe"]</div>

    <div style="margin-top:10px;margin-bottom:10px;">沒對應到msgid：@Localizer["NoMatchmsgId"]</div>
</div>